name: Check and build using (Nix)

on:
  push:
    branches:
      - "*"
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "*"

jobs:
    build_and_test_nix:
        name: Test and build canonical-ledger-state using Nix
        runs-on: ubuntu-latest
        steps:
        - name: git checkout
          uses: actions/checkout@v3
        - name: Install Nix
          uses: DeterminateSystems/nix-installer-action@main
        - uses: DeterminateSystems/magic-nix-cache-action@main
        - name: Run `nix build`
          run: |
            nix build --accept-flake-config \
              '.#"scls-cardano:exe:gen-cddl"' \
              '.#"scls-cardano:lib:scls-cardano"' \
              '.#"scls-cardano:lib:testlib"' \
              '.#"scls-cardano:lib:validate"' \
              '.#"scls-cardano:test:scls-util-test"' \
              '.#"scls-cbor:lib:scls-cbor"' \
              '.#"scls-cbor:test:scls-cbor-test"' \
              '.#"scls-core:lib:scls-core"' \
              '.#"scls-format:lib:scls-format"' \
              '.#"scls-format:test:scls-format-test"' \
              '.#"scls-util:exe:scls-util"' \
              '.#"scls-util:lib:scls-util"' \
              '.#"scls-util:test:scls-util-test"'
