name: Check and build using (Nix)

on:
  push:
    branches:
      - "*"
    tags:
      - "v*.*.*"
  pull_request:
    branches:
      - "*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
    build_and_test_nix:
        name: Test and build canonical-ledger-state using Nix
        runs-on: ubuntu-latest
        steps:
        - name: git checkout
          uses: actions/checkout@v3
        - uses: cachix/install-nix-action@v31
          with:
            nix_path: nixpkgs=channel:nixos-unstable
            extra_nix_config: |
              experimental-features = nix-command flakes
              accept-flake-config = true
        - uses: cachix/cachix-action@v15
          with:
            name: tweag-cardano-cls
            authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
        - name: Run `nix build`
          run: |
            nix build \
              '.#"mempack-scls:lib:mempack-scls"' \
              '.#"merkle-tree-incremental:lib:merkle-tree-incremental"' \
              '.#"scls-cardano:exe:gen-cddl"' \
              '.#"scls-cardano:lib:scls-cardano"' \
              '.#"scls-cardano:lib:testlib"' \
              '.#"scls-cardano:lib:validate"' \
              '.#"scls-cbor:lib:scls-cbor"' \
              '.#"scls-core:lib:scls-core"' \
              '.#"scls-format:lib:scls-format"' \
              '.#"scls-util:exe:scls-util"' \
              '.#"scls-util:lib:scls-util"'
        - name: Run tests
          run: |
            nix build \
              '.#checks.x86_64-linux."merkle-tree-incremental:test:merkle-tree-incremental-test"' \
              '.#checks.x86_64-linux."scls-cardano:test:scls-cardano-test"' \
              '.#checks.x86_64-linux."scls-cbor:test:scls-cbor-test"' \
              '.#checks.x86_64-linux."scls-format:test:scls-format-test"' \
              '.#checks.x86_64-linux."scls-util:test:scls-util-test"' \
              '.#checks.x86_64-linux.validate-scls-test'
